html, body {
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
}

header {
    overflow: hidden;
    height: 65px;
    padding: 15px;
}

header h1 {
    font-size: 1.4em;
    display: inline-block;
    vertical-align: top;
}

header h1 img {
    height: 40px;
    display: inline-block;
    margin-top: -5px;
}

header h1 span {
    vertical-align: top;
    display: inline-block;
}

header nav {
	display: none;
}

/* mobile navigation */
header .nav-button {
	display: inline-block;
}

.mobile-nav  {
	background-color: rgb(247,247,247);
	position: absolute;
    top: 65px;
    bottom: 0;
    width: 300px;
    z-index: 20;
	box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.4);
	left: -310px;
	transition: 0.6s;
}

.mobile-nav-active {
	left: 0px;
}

.mobile-nav-item {
    text-decoration: none;
    color: #565656;
}

.swipe-bar {
	background-color: transparent;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 11px;
	z-index: 11;
}

.sidebar__open {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: auto;
}

.main {
    position: absolute;
    top: 65px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.map, .menu {
    display: inline-block;
    height: 100%;
}

.menu {
    width: 100%;
    margin-right: -5px;
    background-color: rgb(250, 250, 250);
    border: none;
	z-index:10;
    position: absolute;
    top: 88%;
}

.map {
    display: inline-block;
    width: 100%;
    margin-right: -1px;
}

.menu nav {
    position: absolute;
    width: 100%;
    height: 110px;
    border-bottom: 1px solid #ddd;
}

.menu nav .checkboxes {
    margin-top: 15px;
}

.menu nav .album-button {
    width: 100%;
}

.menu .list-container, .menu .detail-container {
    position: absolute;
    top: 110px;
    bottom: 0;
    width: 100%;
    overflow: scroll;

    font-size: 0.9em;
    font-family: 'Roboto', 'Arial', 'sans-serif';
}

.menu .list-container {
    z-index: 11;
}

/* slide in to show the detail */
.menu .slide-in {
    transition: 0.6s;
    left: 0;
}

/* I don't know why but don't write
.menu .detail-container
 */
.detail-container {
    /*display: none;*/
    background-color: rgb(247,247,247);
    z-index: 12;
    left: -100%;
    transition: 0.7s;
}

.menu .item {
    position: relative;
    padding: 16px;
    padding-bottom: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                      not supported by any browser */
}

.menu .item:hover, .menu .item-selected, .mobile-nav-item:hover {
    background-color: white;
    cursor: pointer;
}

.menu .item-header {
    position: relative;
    height: 30px;
}

.menu .item-date {
    display: inline-block;
    padding-top: 6px;
    font-weight: lighter;
}

.menu .item-icons {
    display: inline-block;
    position: absolute;
    right: 0;
    height: 100%;
}

.menu .item-icons img {
    display: inline-block;
    height: 100%;
    padding: 5px;
    margin-left: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
}

.menu .item-message {
    margin-top: 10px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(150,150,150,0.2);
    text-align: justify;
}

.menu .item:last-child .item-message {
    border: none;
}

/* detail container */


.menu .detail-container .item-sub-header {

    text-transform: uppercase;
    font-weight: lighter;
    margin-bottom: 10px;
    font-size: 0.8em;
}

.menu .detail-container .item {
    cursor: default;
}

.menu .detail-container .item-photos img {
    max-height: 270px;
    margin: 0 auto;
    margin-bottom: 15px;
    border: 1px solid #bbb;
}

/* album dialog */
.album-dialog {
    position: absolute;
    bottom: 0;
    top: 112px;
    width: 100%;
    overflow: scroll;
}

.album-photo-img-container {
    position: relative;
    display: inline-block;
    margin: 0 0.5%;
    width: 100%;
	color:white;
}

.album-photo-img-hover:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+53,0.65+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 53%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 53%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 53%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
}

.album-photo-img-hover:hover a {
	display: inline;
}

.album-photo-img-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.album-photo-img-hover a {
	display: none;
	position: absolute;
	color: white;
	text-decoration: none;
	bottom: 5px;
	right: 10px;
	font-size: 0.7em;
	font-weight: bold;
}

.album-photo-img-hover a:hover {
	text-decoration: underline;
}

/* videos container */
.video-container {
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
	position: relative;
}

.video-container video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

@media screen and (min-width: 770px) and (max-width: 1023px) {
	.menu {
	    width: 340px;
		border-right: 2px solid #bbb;
        position: relative;
    	z-index:10;
        top: 0px;
	}

	.map {
	    width: calc(100% - 339px);
	}

	.album-photo-img-container {
	    width: 32.3%;
	}
}

@media screen and (min-width: 1024px) {
	header nav {
		display: inline-block;
	}

	header .nav-button, .mobile-nav {
		display: none;
	}

    header h1 {
        width: 320px;
    }

	.menu {
		width: 340px;
		border-right: 2px solid #bbb;
        position: relative;
    	z-index:10;
        top: 0px;
	}

	.map {
		width: calc(100% - 339px);
	}

	.album-photo-img-container {
	    width: 24%;
	}
}
