<lx-progress lx-type="linear" lx-color="pink" ng-if="ctrl.showProgress()"></lx-progress>
<div class="menu">
    <nav class="p+">
        <div class="album">
            <button class="btn btn--m bgc-indigo-50 tc-indigo-900 album-button"
            lx-ripple="indigo-500" ng-click="ctrl.openAlbum()">Mon album photos</button>
        </div>
        <div class="checkboxes">
            <lx-checkbox ng-model="ctrl.itinerary">
                Afficher l'itinéraire initial
            </lx-checkbox>
        </div>
    </nav>
    <div ui-panel></div>
</div>
<div class="map">
    <div ui-map></div>
</div>

<!--  Album photo et video -->
<lx-dialog id="{{ ctrl.dialogId }}" style="bottom:32px;">
    <lx-dialog-header>
        <div class="toolbar bgc-primary pl++">
            <span class="toolbar__label tc-white fs-title">
                Mon album photo
            </span>

            <div class="toolbar__right">
                <lx-button lx-size="l" lx-color="white" lx-type="icon" ng-click="ctrl.closeAlbum()">
                    <i class="mdi mdi-close"></i>
                </lx-button>
            </div>
        </div>

        <lx-tabs lx-panes-id="album-photo-video"
                 lx-links="[{label: 'Mes photos'}, {label: 'Mes vidéos'}]"
                 lx-theme="dark"
                 lx-color="primary"
                 lx-indicator="pink"></lx-tabs>
    </lx-dialog-header>

    <lx-dialog-content>
        <lx-tabs-panes id="album-photo-video" class="album-dialog">
            <lx-tab-pane>
                <div class="p+">
                    <div class="tc-white-1 album-photo-img-container" ng-repeat="photo in ctrl.photos track by $index">
                        <img class="album-photo-img" ng-src="{{ photo.urlHttps }}"/>
                        <div class="album-photo-img-hover">
                            <a href="#/" ng-click="ctrl.showDetail(photo.smsKey)">Voir le SMS</a>
                        </div>
                    </div>
                </div>
            </lx-tab-pane>

            <lx-tab-pane>
				<div class="p+">
					<div class="tc-white-1 album-photo-img-container video-container"
					ng-repeat="video in ctrl.videos track by $index">
						<video width="308" height="240" controls>
							<source ng-src="{{ format.url }}" type="{{ format.content_type }}"
							ng-repeat="format in video.format">
							Your browser does not support the video tag.
						</video>
						<!-- <div class="album-photo-img-hover">
							<a href="#/" ng-click="ctrl.showDetail(videos.smsKey)">Voir le SMS</a>
						</div> -->
					</div>
				</div>
                <div class="p++">
                </div>
            </lx-tab-pane>
        </lx-tabs-panes>
    </lx-dialog-content>
</lx-dialog>
