<lx-progress lx-type="linear" lx-color="pink" ng-if="ctrl.showProgress()"></lx-progress>
<div class="menu" ng-class="{'menu__swipe_up': ctrl.isMenuSwipedUp()}">
	<div class="mobile-message p+ noPreventDefault" ng-swipe-up="ctrl.showMenu()" ng-click="ctrl.showMenu()">
		Afficher plus
	</div>
    <nav class="p+ noPreventDefault" ng-swipe-down="ctrl.hideMenu()">
        <div class="album noPreventDefault" ng-swipe-down="ctrl.hideMenu()">
            <button class="btn btn--m bgc-indigo-50 tc-indigo-900 album-button noPreventDefault"
            lx-ripple="indigo-500" ng-click="ctrl.openAlbum()"
			ng-swipe-down="ctrl.hideMenu()">Mon album photos</button>
        </div>
        <div class="checkboxes noPreventDefault" ng-swipe-down="ctrl.hideMenu()">
            <lx-checkbox class="noPreventDefault" ng-model="ctrl.itinerary"
			ng-click="ctrl.clickItineraryButton()">
                Afficher l'itinéraire initial
            </lx-checkbox>
        </div>
    </nav>
    <div class="noPreventDefault" ui-panel></div>
</div>
<div class="map">
    <div ui-map></div>
</div>

<!--  Album photo et video -->
<lx-dialog id="{{ ctrl.dialogId }}" style="bottom:32px;">
    <lx-dialog-header>
        <div class="toolbar bgc-primary pl++">
            <span class="toolbar__label tc-white fs-title">
                Mon album photo
            </span>

            <div class="toolbar__right">
                <lx-button lx-size="l" lx-color="white" lx-type="icon" ng-click="ctrl.closeAlbum()">
                    <i class="mdi mdi-close"></i>
                </lx-button>
            </div>
        </div>

        <lx-tabs lx-panes-id="album-photo-video"
                 lx-links="[{label: 'Mes photos'}, {label: 'Mes vidéos'}]"
                 lx-theme="dark"
                 lx-color="primary"
                 lx-indicator="pink"></lx-tabs>
    </lx-dialog-header>

    <lx-dialog-content>
        <lx-tabs-panes id="album-photo-video" class="album-dialog">
            <lx-tab-pane>
                <div class="p+ dialog-pane">
                    <div class="tc-white-1 album-photo-img-container" ng-repeat="photo in ctrl.photos track by $index">
                        <img class="album-photo-img" ng-src="{{ photo.urlHttps }}:thumb"/>
                        <div class="album-photo-img-hover" ng-click="ctrl.openCarousel('photos', $index)">
                            <a href="#/" ng-click="ctrl.showDetail($event, photo.smsKey)">Voir le SMS</a>
                        </div>
                    </div>
                </div>
            </lx-tab-pane>

            <lx-tab-pane>
				<div class="p+ dialog-pane">
					<div class="tc-white-1 album-photo-img-container video-container"
					ng-repeat="video in ctrl.videos track by $index">
						<div class="tc-white-1 album-photo-img-container">
	                        <img class="album-photo-img" ng-src="{{ video.urlHttps }}:thumb"/>
	                        <div class="album-photo-img-hover"  ng-click="ctrl.openCarousel('videos', $index)">
	                            <a href="#/" ng-click="ctrl.showDetail($event, video.smsKey)">Voir le SMS</a>
	                        </div>
	                    </div>
					</div>
				</div>
            </lx-tab-pane>
        </lx-tabs-panes>
    </lx-dialog-content>
</lx-dialog>


<!-- carousel photos and videos -->
<lx-dialog id="{{ ctrl.carouselId }}" class="carousel-container" >
    <lx-dialog-content>
		<div class="carousel-close-btn">
			<lx-button lx-size="l" lx-color="white" lx-type="icon"
			ng-click="ctrl.closeCarousel()">
				<i class="mdi mdi-close"></i>
			</lx-button>
		</div>
		<div class="carousel-content" ng-keypress="ctrl.carouselKeyPress()">
			<ul rn-carousel rn-carousel-controls rn-carousel-controls-allow-loop
			rn-carousel-transition="none" rn-carousel-index="ctrl.carouselIndex"
			class="rn-carousel">
			  <li ng-repeat="media in ctrl.carouselMedias track by $index">
				  <div class="carousel-content-media"
				  ng-if="media.type == 'photo'">
				  {{ media }}
					  <img ng-src="{{ media.urlHttps }}"/>
					  <a href="#/" ng-click="ctrl.showDetail($event, media.smsKey)">
						  Voir le SMS
					  </a>
				  </div>
				  <div class="carousel-content-media carousel-content-media-center"
				  ng-if="media.type == 'video'">
					  <video controls>
	                      <source ng-src="{{ format.url }}" type="{{ format.content_type }}"
	                      ng-repeat="format in media.formats">
	                      Your browser does not support the video tag.
	                  </video>
					  <a href="#/" ng-click="ctrl.showDetail($event, media.smsKey)">
						  Voir le SMS
					  </a>
				  </div>
			  </li>
			</ul>
		</div>

	</lx-dialog-content>
</lx-dialog>
