<div class="text-container">
	<div class="p+ tc-black-1 " flex-container="row">

	</div>
	<div class="p+ tc-black-1 " flex-container="row" flex-gutter="24" >
		<div flex-item="2">
			<img src="/static/img/profile.jpeg" alt="my profile picture" />
		</div>
		<div flex-item="5">
			<span class="fs-title display-block mb">A propos de moi</span>

	        <div class="divider divider--dark"></div>

	        <ul class="list mt++">
	            <li class="list-row list-row--has-separator">
	                <div class="list-row__primary">
	                    <lx-icon lx-id="account" lx-size="s" lx-color="grey" lx-type="flat"></lx-icon>
	                </div>

	                <div class="list-row__content">
	                    <span>Jérémi Le Bourhis</span>
	                </div>
	            </li>
				<li class="list-row list-row--has-separator">
					<div class="list-row__primary">
						<lx-icon lx-id="map-marker" lx-size="s" lx-color="grey" lx-type="flat"></lx-icon>
					</div>

					<div class="list-row__content">
						<span>Paris, France</span>
					</div>
				</li>
	            <li class="list-row list-row--has-separator">
	                <div class="list-row__primary">
	                    <lx-icon lx-id="gmail" lx-size="s" lx-color="grey" lx-type="flat"></lx-icon>
	                </div>

	                <div class="list-row__content">
	                    <span><a href="mailto:jeremi.leb@gmail.com" target="_blank">jeremi.leb@gmail.com</a></span>
	                </div>
	            </li>
	        </ul>
		</div>
		<div flex-item="5">
			<span class="fs-title display-block mb">Réseaux sociaux</span>

	        <div class="divider divider--dark"></div>

	        <ul class="list mt++">
	            <li class="list-row list-row--has-separator">
	                <div class="list-row__primary">
	                    <lx-icon lx-id="github-circle" lx-size="s" lx-color="grey" lx-type="flat"></lx-icon>
	                </div>

	                <div class="list-row__content">
	                    <span>
							<a href="https://github.com/jeremlb/" target="_blank">
								Github
							</a>
	                    </span>
	                </div>
	            </li>
				<li class="list-row list-row--has-separator">
					<div class="list-row__primary">
	                    <lx-icon lx-id="linkedin" lx-size="s" lx-color="grey" lx-type="flat"></lx-icon>
	                </div>

					<div class="list-row__content">
	                    <span>
							<a href="https://fr.linkedin.com/in/jeremilebourhis" target="_blank">
								Linkdedin
							</a>
	                    </span>
	                </div>
				</li>
	            <li class="list-row list-row--has-separator">
	                <div class="list-row__primary">
	                    <lx-icon lx-id="twitter" lx-size="s" lx-color="grey" lx-type="flat"></lx-icon>
	                </div>

					<div class="list-row__content">
	                    <span>
							<a href="https://twitter.com/JeremiLeBourhis" target="_blank">
								@JeremiLeBourhis
							</a>
	                    </span>
	                </div>
	            </li>
	        </ul>
		</div>
	</div>
	<div class="p+ tc-black-1 " flex-container="row" flex-gutter="24" >
		<div flex-item>
			<p class="p+">
				Je suis développeur web et amateur de randonnée. Après deux ans
				et demi d'apprentissage chez gPartner, je pars pour quelques
				semaines sur les chemins de France et d'Espagne. Afin que mon
				entourage puisse me suive dans mon voyage, j'ai développé cette
				application qui regroupe tout mon savoir faire. Vous pouvez
				retrouver le code de l'application sur Github :
				<a href="https://github.com/jeremlb/sms-hiking-traker"
				target="_blank">
					https://github.com/jeremlb/sms-hiking-traker
				</a>
			</p>
		</div>
	</div>
</div>
