<div class="p+ tc-black-1" flex-container="row" flex-gutter="24" flex-wrap>
	<div flex-item="6">
		<img src="/static/img/profile.jpeg" alt="my profile picture" />
	</div>
	<div flex-item="6">
		<p>Hello it's me !</p>
	</div>
</div>
<div class="p+ tc-black-1" flex-container="row" flex-gutter="24" flex-wrap>
    <div flex-item="6">
        <ul class="list mt++">
            <li class="list-row list-row--multi-line">
                <div class="list-row__content">
                    <span class="display-block"><a href="https://github.com/jeremlb/" target="_blank">
						<lx-icon lx-id="github-circle" lx-size="s" lx-color="blue" lx-type="circled"></lx-icon>
					</a></span>
                    <span class="display-block fs-body-1 tc-black-2">Secondary text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam massa quam. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
                </div>
            </li>
            <li class="list-row list-row--multi-line">
                <div class="list-row__content">
                    <span class="display-block">Two-line item</span>
                    <span class="display-block fs-body-1 tc-black-2">Secondary text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam massa quam. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
                </div>
            </li>
            <li class="list-row list-row--multi-line">
                <div class="list-row__content">
                    <span class="display-block">Two-line item</span>
                    <span class="display-block fs-body-1 tc-black-2">Secondary text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam massa quam. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
                </div>
            </li>
        </ul>
    </div>
</div>
