<div class="menu">
    <nav class="p+">
        <div class="album">
            <button class="btn btn--m bgc-indigo-50 tc-indigo-900 album-button"
            lx-ripple="indigo-500" ng-click="ctrl.openAlbum()">Mon album photos</button>
        </div>
        <div class="checkboxes">
            <lx-checkbox ng-model="ctrl.itinerary">
                Afficher l'itinéraire initial
            </lx-checkbox>
        </div>
    </nav>
    <div ui-panel></div>
</div>
<div class="map">
    <div ui-map></div>
</div>

<!--  Album photo et video -->
<lx-dialog id="{{ ctrl.dialogId }}">
    <lx-dialog-header>
        <div class="toolbar bgc-primary pl++">
            <span class="toolbar__label tc-white fs-title">
                Mon album photo
            </span>

            <div class="toolbar__right">
                <lx-button lx-size="l" lx-color="white" lx-type="icon" ng-click="ctrl.closeAlbum()">
                    <i class="mdi mdi-close"></i>
                </lx-button>
            </div>
        </div>

        <lx-tabs lx-panes-id="album-photo-video"
                 lx-links="[{label: 'Mes photos'}, {label: 'Mes vidéos'}]"

                 lx-theme="dark"
                 lx-color="primary"
                 lx-indicator="light-green"></lx-tabs>
    </lx-dialog-header>

    <lx-dialog-content>
        <lx-tabs-panes id="album-photo-video">
            <lx-tab-pane>
                <div class="p++">
                    <p>Mes photos</p>
                </div>
            </lx-tab-pane>

            <lx-tab-pane>
                <div class="p++">
                    <p>Mes videos :)</p>
                </div>
            </lx-tab-pane>
        </lx-tabs-panes>
    </lx-dialog-content>
</lx-dialog>
