<div class="list-container noPreventDefault">
    <div class="item noPreventDefault" ng-repeat="item in panelCtrl.items"
    ng-click="panelCtrl.showDetail(item)">
        <div class="item-header">
            <div class="item-date">{{ item.date }}</div>
            <div class="item-icons">
                <img ng-src="{{ panelCtrl.getWeatherIconUrl(item) }}"
                lx-tooltip="Méteo" class="bgc-indigo-500">
                <img ng-src="{{ panelCtrl.getBreakIconUrl(item) }}"
                lx-tooltip="Pause" class="bgc-green-500">
            </div>
        </div>
        <div class="item-message">
            {{ item.message | limitTo: 85 }}{{item.message.length > 85 ? '...' : ''}}
        </div>
    </div>
</div>
<div class="detail-container" class="noPreventDefault" ng-class="{'slide-in': panelCtrl.isDetailShown}">
    <div class="item">
        <div class="detail-container-back noPreventDefault">
             <lx-button class="noPreventDefault" lx-type="icon" lx-color="grey"
             ng-click="panelCtrl.hideDetail()">
                 <i class="mdi mdi-arrow-left noPreventDefault"></i>
             </lx-button>
        </div>
        <div class="item-header">
            <div class="item-date">{{ panelCtrl.detailItem.date }}</div>
            <div class="item-icons">
                <img ng-src="{{ panelCtrl.getWeatherIconUrl(panelCtrl.detailItem) }}"
                lx-tooltip="Méteo" class="bgc-light-green-500">
                <img ng-src="{{ panelCtrl.getBreakIconUrl(panelCtrl.detailItem) }}"
                lx-tooltip="Pause" class="bgc-light-green-500">
            </div>
        </div>
        <div class="item-message" ng-show="panelCtrl.detailItem.message.length > 0">
            <div class="item-sub-header">MESSAGE</div>
            {{ panelCtrl.detailItem.message }}
        </div>
        <div class="item-photos" ng-show="panelCtrl.detailItem.photos.length > 0">
            <div class="item-sub-header">PHOTOS</div>
            <div ng-repeat="photo in panelCtrl.detailItem.photos">
                <img ng-src="{{ photo.url }}"/>
            </div>
        </div>
        <div class="item-videos" ng-show="panelCtrl.detailItem.videos.length > 0">
            <div class="item-sub-header">VIDEOS</div>
            <div ng-repeat="video in panelCtrl.detailItem.videos" class="video-container">
                <video width="308" height="240" controls>
                    <source ng-src="{{ format.url }}" type="{{ format.content_type }}"
                    ng-repeat="format in video.format">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>
